<!DOCTYPE html>
<html lang="en">

<head>
  <title>LIMES Web UI</title>

  <meta charset="utf-8">
  <meta name="description" content="LIMES Web UI">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/vue-material@0.8.1/dist/vue-material.css">
</head>

<body>
  <div id="app">
    Loading..
  </div>

  <!-- templates -->
  <!-- main app template -->
  <script type="text/x-template" id="mainApp">
    <div>
      <md-toolbar>
        <h2 class="md-title" style="flex: 1">LIMES Web UI</h2>
      </md-toolbar>

      <md-layout md-gutter>
        <md-layout md-flex-offset="25" md-column>
          <!-- prefixes UI -->
          <prefixes-list v-bind:prefixes="prefixes"></prefixes-list>
          <!-- datasources UI -->
          <datasource-component v-bind:source="source" title="Data source"></datasource-component>
          <datasource-component v-bind:source="target" title="Data target"></datasource-component>
          <!-- metrics UI -->
          <metrics-component v-bind:metrics="metrics"></metrics-component>
          <!-- acceptance UI -->
          <accreview-component v-bind:data="acceptance" title="Acceptance Condition"></accreview-component>
          <accreview-component v-bind:data="review" title="Review Condition"></accreview-component>

          <!-- done button -->
          <md-button class="md-raised md-primary" v-on:click="execute()">Execute</md-button>
        </md-layout>
        <md-layout md-flex="25"></md-layout>
      </md-layout>
    </div>
  </script>

  <!-- prefixes component -->
  <script type="text/x-template" id="prefixComponent">
    <md-whiteframe md-tag="section" style="margin-top: 20px; flex: 1; padding-top: 15px; padding-left: 15px;">
      <div class="md-title">Prefixes</div>

      <md-layout>
        <div style="padding-top: 20px;" v-if="!prefixes.length">No prefixes defined..</div>
        <md-chip v-for="prefix in prefixes" md-deletable v-on:delete="deleteChip(prefix)" style="margin-left: 3px">
          {{ prefix.label }}
          <md-tooltip md-direction="bottom">{{ prefix.namespace }}</md-tooltip>
        </md-chip>
      </md-layout>

      <md-layout md-gutter="8">
        <md-layout md-flex="33">
          <md-input-container>
            <label>Label</label>
            <md-input v-model="label" placeholder="Label"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout md-flex>
          <md-input-container>
            <label>Namespace</label>
            <md-input v-model="namespace" placeholder="Namespace"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout md-flex="25">
          <md-button v-on:click="add()">Add</md-button>
        </md-layout>
      </md-layout>
    </md-whiteframe>
  </script>

  <!-- datasource component -->
  <script type="text/x-template" id="datasourceComponent">
    <md-whiteframe md-tag="section" style="flex: 1; padding-top: 15px; padding-left: 15px; padding-right: 15px;">
      <div class="md-title">{{ title }}</div>

      <!-- source -->
      <md-layout md-column>
        <md-layout>
          <md-input-container>
            <label>ID</label>
            <md-input v-model="source.id" placeholder="ID"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout>
          <md-input-container>
            <label>Endpoint</label>
            <md-input v-model="source.endpoint" placeholder="Endpoint"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout>
          <md-input-container>
            <label>Var</label>
            <md-input v-model="source.var" placeholder="Var"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout>
          <md-input-container>
            <label>Pagesize</label>
            <md-input v-model="source.pagesize" placeholder="Pagesize"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout>
          <md-input-container>
            <label>Restriction</label>
            <md-input v-model="source.restriction" placeholder="Restriction"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout>
          <md-input-container>
            <label>Type</label>
            <md-input v-model="source.type" placeholder="Type"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout>
          Properties
          <md-chips v-model="source.properties" md-input-placeholder="Add a property"></md-chips>
        </md-layout>
      </md-layout>
    </md-whiteframe>
  </script>

  <!-- metrics component -->
  <script type="text/x-template" id="metricsComponent">
    <md-whiteframe md-tag="section" style="flex: 1; padding-top: 15px; padding-left: 15px; padding-right: 15px;">
      <div class="md-title">Metrics</div>
      <md-chips v-model="metrics" md-input-placeholder="Add a metric"></md-chips>
    </md-whiteframe>
  </script>

  <!-- acceptance / review component -->
  <script type="text/x-template" id="accreview">
    <md-whiteframe md-tag="section" style="flex: 1; padding-top: 15px; padding-left: 15px; padding-right: 15px;">
      <div class="md-title">{{ title }}</div>

      <md-input-container>
        <label>Threshold</label>
        <md-input v-model="data.threshold" placeholder="Threshold"></md-input>
      </md-input-container>
      <md-input-container>
        <label>File</label>
        <md-input v-model="data.file" placeholder="File"></md-input>
      </md-input-container>
      <md-input-container>
        <label>Relation</label>
        <md-input v-model="data.relation" placeholder="Relation"></md-input>
      </md-input-container>
    </md-whiteframe>
  </script>

  <!-- libs -->
  <script src="https://unpkg.com/vue@2.5.3/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-material@0.8.1/dist/vue-material.js"></script>
  <!-- our scripts -->
  <script src="prefixes.js"></script>
  <script src="simplecomponents.js"></script>
  <script src="main.js"></script>
</body>

</html>
